body {
	background: #bbb;
}


.container {
	width: 80%;
	margin: 50px auto;
	padding: 10px 5%;
	-moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, .6);
	box-shadow: 1px 2px 10px rgba(0, 0, 0, .6);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #4b90d6;
}

.code {
	display: inline-block;
	padding: 10px 1%;
	background: #eee;
}